.ArticleWrapper{
  padding-top: 10px;
  .Addbtn{
    margin-top: 10px !important;
  }
  .area{
    z-index: 9999 !important;
    cursor: pointer;
    border: 1px solid #c7c6c6;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    z-index: 99999 !important;
    .delete{
      position: absolute;
      width: 22px;
      height: 22px;
      background-color: red;
      text-align: center;
      line-height: 20px;
      font-weight: bold;
      color: white;
      border-radius: 50%;
      border: 1px solid #9999;
      top: -8px;
      right: -8px;
      cursor: pointer;
    }
    .row {
      margin-top: 15px;
      display: flex;
      margin-bottom: 15px;
      .label {
        width: 80px;
      }
      .content {
        flex: 1;
      }
    }
  }
}

