.footer{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 1280px;
    height: 60px;
    margin: 0 auto 10px auto;
    background-color: rgb(139, 177, 248) !important;
    .link{
        display: block;
        text-align: center;
        color: white;
        line-height: 60px;
        font-size: 22px;
        text-decoration: none;
    }
}